h1, h2, p{
	font-family: verdana;
	color: white;
}

body {
	background: url('img_books.jpg');
}

div {
  width: 75%;
  height: 50%;
  background: rgba(135, 206, 235, 0.5);
  border: 5px solid lightgreen;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

button {
  width: 250px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  margin: 5px;
  font-family: verdana;
}

button:hover {
  background: rgb(192, 128, 129);
  color: white;
}

button:active {
  background: white;
  color: black;
}

.footers {
  text-align: center;
  margin: 2px;
  width: 60px;
  height: 30px;
  color: black;
}

.strands {
  width: 250px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  margin: 5px;
  font-family: verdana;
}
